interfaces {
{%for interface in interfaces %}
    {{interface.interface}} {
        unit {{ interface.vlan }} {
            description "{{interface.description}}";
{% if interface.vlan != 0 %}
            vlan-id {{interface.vlan}};
{% endif %}
{% if interface.ipv4 %}
            family inet {
                address {{interface.ipv4}};
            }
{% endif %}
{% if interface.ipv6 %}
            family inet6 {
                address {{interface.ipv6}};
            }
{% endif %}
        }
    }
{% endfor %}
}

