{%include 'interfaces.j2' %}
{%-if protocol == "static" %}
{%include 'protocolstatic.j2' %}
{%-endif%}
{%-if protocol == "bgp" %}
{%include 'protocolbgp.j2' %}
{%-endif%}
{%-if protocol == "ospf" %}
{%include 'protocolospf.j2' %}
{%-endif%}
{%-if protocol == "rip" %}
{%include 'protocolrip.j2' %}
{%-endif%}