routing-options {
    static {
{% for route in routes %}
{% if route.next_hop == "discard" %}
        route {{route.route}} discard;
{% endif %}
{% if route.next_hop != "discard" %}
        route {{route.route}} next-hop {{route.next_hop}};
{% endif %}
{% endfor %}
    }
}

