protocols {
    bgp {
        group {{protocols.bgp.group_name}} {
            export {{protocols.bgp.export_policy_name}};
            neighbor {{protocols.bgp.neighbor}} {
                peer-as {{protocols.bgp.remote_as}};
            }
        }
    }
}

