protocols {
    ospf {
        area {{protocols.ospf.area_id}} {
{%for interface in interfaces %}
            interface {{interface.interface}}.{{interface.vlan}};
{%endfor%}
        }
    }
}

